#title {
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
  margin: 0;
  padding: 0;
}

#description {
  font-size: 1.2em;
  text-align: center;
  margin: 0;
  padding: 0;
}

#container {
  margin: 4rem;
}

#main-svg {
  display: block;
  margin: 0 auto;
}

.states {
  fill: none;
  stroke: #fff;
  stroke-linejoin: round;
}
